
$base01:  #586e75;
$base00:  #657b83;
$blue:    #268bd2;
$green:   #859900;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;

$bg: $base2;

@import url(http://fonts.googleapis.com/css?family=Oxygen);

.jquery-console-cursor {
    border-left: solid 2px green;
}

body {
     background: $bg;
     font-family: 'Oxygen';
}

svg {
    width: 700px;
    height: 700px;
}

circle {
   fill: $bg;
}

circle.c {
    /* fill: url(#pat); */
    stroke: $blue;
    stroke-width: 3px;
    /* filter: url(#light); */
}




line {
    stroke: #586e75;
    stroke-width: 3px;
}


.console {

    div.jquery-console-inner {
	padding:0.5em;
        overflow:auto;
    }


    border: 1px solid green;
    height: 2cm;
}

