
$base01:  #586e75;
$base00:  #657b83;
$blue:    #268bd2;
$green:   #859900;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;
$orange:  #cb4b16;

$bg: $base2;

$link: $green;

/* @import url(http://fonts.googleapis.com/css?family=Oxygen); */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'),
       url(oxygen-regular.ttf) format('truetype');
}

.jquery-console-cursor {
    border-left: solid 2px green;
}

body {
     background: url(pap4.jpg);
     font-family: 'Oxygen';
}

svg {
    /* width: 700px; */
    /* height: 700px; */
    /* border: solid green 2px; */
}

circle {
   fill: $bg;
   stroke-width: 3px;
   stroke: $blue;
}

circle.vanilla {
}

circle.cons {
}

.arrow {
    fill: transparent;
    stroke: $link;
    stroke-width: 3px;
}

.link {
    stroke: $link;
    stroke-width: 3px;
    fill: transparent;
}



.wut {
    width: 400px;
    right: 1em;
    position: absolute;

    i {
	font-style: normal;
	border: solid black 1px;
	border-radius: 0px;
	padding: .1ex;
	padding-left: .5ex;
	padding-right: .5ex;
	background: $base3;
    }


    .desc {
	border: solid black 1px;
	background: $base2;
	box-shadow: 5px 5px 13px black;
	padding: 1ex;
    }

    .close {
	font-size: 0.7cm;
	position: absolute;
	top: 1ex;
	right: 1ex;
    }

    .show {
	text-align: right;
	/* text-decoration: underline; */
    }

    h2 {
	font-size: medium;
	font-weigth: bold;
    }

}



.console {

    div.jquery-console-inner {
	padding:0.5em;
        overflow:auto;
    }

    height: 2cm;
}

